﻿@model List<_2EF_Core_Local.Models.Product>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="col-12" style="color: black;">
            <div class="row">
                <div class="col-12">
                    <label class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input id="txtName" class="form-control" type="text" name="txtName" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-12">
                    <label class="col-md-2 col-form-label">Price</label>
                    <div class="col-md-10">
                        <input id="txtPrice" class="form-control" type="number" name="txtPrice" value="" autocomplete="off">
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" id="btnSave" class="btn btn-primary" onclick="btnSaveClicked(); return false;"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i><span> &nbsp; Save</span></button>
                </div>
            </div>
            <br />
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th style="width:150px;">ID</th>
                            <th style="width:250px;">Name</th>
                            <th style="width:200px;">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.Id</td>
                                <td>@i.Name</td>
                                <td>@i.Price</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

        });
        function btnSaveClicked() {
            var price = $("#txtPrice").val();
            var name = $("#txtName").val();
            var urlSave = '@Url.Action("Index", "Home")';

            if (price != "" && name != "") {
                var savedata = {
                    "Name" : name,
                    "Price":price
                }
                $.ajax({
                    type: "POST",
                    data: savedata,
                    url: urlSave,
                    success: function (result) {
                        alert("success");
                        location.reload();
                    },
                    error: function (request, status, error) {
                        alert("error");
                    }
                });
            }
            else {
                alert("Input tidak boleh kosong");

            }
        }

    </script>
}